__pycache__/
*.py[cod]
*$py.class
.DS_Store
__pycache__
.env
.idea/
.pytest_cache/
.ipynb_checkpoints
data/
transcripts/
brk/
13f_data/
sec-edgar-filings/
.keys/
.terraform/
*.tfstate
*.tfstate.* 
*.tfplan
.terraform.lock.hcl
